@import "common.css";

.topbar-button {
    -fx-text-fill: -fx-color-main;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-background-color:  #FFE7BA;
}

.topbar-button:hover {
    -fx-background-color: #FFE7BA;
    -fx-cursor: hand;
}

.title {
    -fx-text-fill: -fx-color-main;
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}

/* General TableView style */
.table-view {
    -fx-background-color: #f4f4f4; /* Light grey background */
    -fx-border-color: #d3d3d3; /* Border color */
    -fx-border-width: 2px; /* Border thickness */
    -fx-padding: 5px; /* Padding around the table */
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

/* Header styling */
.table-view .column-header-background {
    -fx-background-color: -fx-color-main;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-text-fill: white; /* White text for headers */
    -fx-font-weight: bold;
}

/* Row styling */
.table-row-cell {
    -fx-background-color: #ffffff, linear-gradient(from 0% 0% to 100% 100%, #f9f9f9, #eeeeee);
    -fx-border-color: #d3d3d3;
    -fx-border-width: 0 0 1px 0; /* Row separator */
}

/* Alternate row styling */
.table-row-cell:odd {
    -fx-background-color: #f9f9f9; /* Light grey for odd rows */
}


/* Cell text styling */
.table-cell {
    -fx-text-fill: #333333; /* Dark grey text */
    -fx-alignment: center-left; /* Align text to the left */
    -fx-padding: 5px;
}

.exit-button {
    -fx-background-color: #5C1C00cc;
    -mfx-ripple-color: #5c1c00;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}