.status-button {
    -fx-pref-width: 100;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 8;
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 4;
    -fx-text-fill: #7e7e7e;
}

.status-button--active {
    -fx-background-color: #9e9e9e;
    -fx-text-fill: #fff;
}

.status-button-container {
    -fx-padding: 4;
    -fx-pref-width: 408;
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 4;
}