@import "common.css";

.edit-button {
    -fx-background-color: #2363d0cc;
    -fx-text-fill: #fff;
    -fx-font-weight: 700;
}

.borrow-button {
    -fx-background-color: #58e821cc;
    -fx-text-fill: #fff;
    -fx-font-weight: 700;
}

.return-button {
    -fx-background-color: #5C1C00cc;
    -fx-text-fill: #fff;
    -fx-font-weight: 700;
}

.info-label {
    -fx-font-weight: 700;
}

.header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-main;
}
