@import "MFXTextField.css";
@import "MFXComboBox.css";
@import "MFXComboBoxCell.css";

.form-text-field {
    -fx-pref-height: 36;
    -fx-font-size: 14px;
    -mfx-floating-text: false;
}

.form-primary-button {
    -fx-background-color: #5C1C00cc;
    -mfx-ripple-color: #5c1c00;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.form-text-area {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: lightgray;
    -fx-focus-color: #5c1c00;
}

.form-text-area:focused {
    -fx-border-width: 1.5;
    -fx-border-color: #5c1c00;
}

.mfx-button .form-primary-button {
    -mfx-ripple-color: #5c1c00;
}

.form-cancel-button {
    -fx-background-color: #787878cc;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.form-delete-button {
    -fx-background-color: #B22222cc;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.form-label {
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

.form-title {
    -fx-font-size: 28;
    -fx-font-weight: 700;
    -fx-text-fill: #5c1c00;
}

.form-container {
    -fx-alignment: center;
}

.form-message--success {
    -fx-text-fill: #539058
}
.form-message--error {
    -fx-text-fill: #B22222;
}


.data-text-field {
    -fx-pref-width: 100;
}

.modal-overlay {
  -fx-background-color: rgba(0, 0, 0, 0.1);
}

.modal-container {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.modal-close-btn {
    -fx-border-radius: 12;
    -fx-pref-width: 24;
    -fx-background-radius: 12;
    -fx-pref-height: 24;
}

.modal-close-btn:hover {
    -fx-background-color: rgba(92, 28, 0, 0.3);
}