@import "common.css";

.topbar-button {
    -fx-text-fill: -fx-color-main;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.category-label {
    -fx-font-size: 14;
    -fx-padding: 0 8px 0 8px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}
.category-label:hover {
    -fx-background-color: -fx-choice-color-hover;
    -fx-cursor: hand;
}
.category-grid {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.clickable {
    -fx-cursor: hand;
}
